
.lp-overlay {
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  pointer-events: none;
  inset: 0px;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

.lp-container {
    max-width: 680px;
    width: 680px;
    background-color: white;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.11);
    border-radius: 4px;
    padding: 10px;
}
