.lp-content {
  max-height: 400px;
  overflow-y: auto;
}
.lp-content__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
}

.lp-content__inner-wrapper {
  width: 264px;
}

@media screen and (max-width: 680px) {
  .lp-content__wrapper {
    padding: 16px 10px;
  }
  .lp-content__inner-wrapper {
    width: 100%;
  }
  .lp-content {
    max-height: 83%;
  }
}
