.lp-transfer {
  margin-top: 22px;
}

.lp-transfer__header {
  font-weight: 600;
  font-size: 15px;
  line-height: 135%;
  color: #1e293b;
}

.center {
  text-align: center;
}

.lp-transfer__box-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
}

@media screen and (max-width: 680px) {
  .lp-transfer__box-wrapper {
    /* width: 100%; */
  }
}
