.lp-transfer {
  margin-top: 22px;
}

.lp-transfer__header {
  font-weight: 600;
  font-size: 15px;
  line-height: 135%;
  color: #1e293b;
}

.center {
  text-align: center;
}

.lp-transfer__box-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
}

.lp-transfer__question {
  cursor: pointer;
}

.lp-transfer__subheader {
  display: flex;
  align-items: center;
  gap: 7.16px;
  margin-top: 8.17px;
}

.lp-transfer__sub {
  font-weight: 400;
  font-size: 12px;
  line-height: 135%;
  color: #475569;
}
